body {
    background-color: rgb(33 33 33) ;
    text-shadow: 2px 2px #000000;
    font-size: 15px;
    color: white;
    font-family:"Verdana", Sans-serif;
}
.top_center {
margin-top: 20px;
text-align: center;
}
.top_label{
    margin-left: 15px;
}
.top_field{
    width: 10%
}
input[type=text] {
  width: 50%;
  margin-bottom: 20px;
  margin-right:20px;
  border-radius:5px;
  font-size: 15px;
  box-shadow: 0px 0px #000000;
  transition: box-shadow .2s;
}
input[type=text]:hover{
    box-shadow: 3px 3px #000000;
}

.seller{
    border-style: solid;
    border-radius: 10px;
    position: fixed;
    top: 20%;
    left: 10%;
    width: 30%;
    transition: box-shadow .2s, border-color .2s;
}
.seller:hover{
    box-shadow: 0px 0px 1px 5px #1DB954;
    border-color: black;
}
.buyer{
    border-style: solid;
    border-radius: 10px;
    position: fixed;
    top: 20%;
    right: 10%;
    width: 30%;
    transition: box-shadow .2s, border-color .2s;
}
.buyer:hover{
    box-shadow: 0px 0px 1px 5px #1DB954;
    border-color: black;
}
