.thumbnail {
  transition: transform .2s;
  text-align: center;
  text-shadow: 2px 2px #000000;
  font-weight: bold;
}
.thumbnail:hover {
    transform: scale(0.95);
    font-weight: normal;
    text-shadow: 0px 0px #000000;
    font-size: 10px;
}
.thumbnailImg{
    transition: transform .2s;
    border-radius: 30px;
    outline: solid 0px black;
    outline-offset: -5px;
    transition: box-shadow .2s, border-style .2s, outline-size .2s;
}
.thumbnailImg:hover{
    outline-size: 4px;
    box-shadow: 0px 0px 0px 3px #1DB954;
}
.title{
    margin-top: 100px;
    text-align: center;
    font-family:"Verdana", Sans-serif;
    text-shadow: 3px 3px #000000;
}

.textStyle{
font-family:"Verdana", Sans-serif;
font-size: 16px;
color: white;
}
.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}
ul {
list-style-type: none;
}
body {
background-color: rgb(33 33 33) ;
}
h1{
color:white
}
.center {
position: fixed;
top: 2%;
left: 40%;
padding: 70 px;
}
.center-middle{
position: fixed;
top: 15%;
left: 8%;
padding: 70 px;
}
li {
margin-bottom: 9px;
margin-top: 14px;
display:inline-block;
margin-right: 10px;
}
