<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Choose a template</title>
<link rel="stylesheet" href="static/css/Styling.css?1422585377" type="text/css"/>

</head>
<body>
<h1 class="center">Choose a template:</h1>
<div class="center-middle">
    <ul>
{% for template in templates%}

      <li>
        <div>
          <a class="thumbnail" href="{{url_for('templatePage',TemplateName=template)}}">
         <img src="static/image/{{template}}.jpeg" height="130" width="130">
         <span>
             <img src="static/image/{{ template }}.jpeg" alt="{{ template }}" height="260" width="260">
         </span> <br>
          </a>
            <a class="textStyle" >{{template}}</a>
        </div>
      </li>

{%endfor%}
        </ul>
</div>



</body>
</html>