<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Choose a template</title>
<link rel="stylesheet" href="static/css/Styling.css?1422585377" type="text/css"/></head>
<body>
<h1 class="center">Choose a template:</h1>
<div id="CenterChoose" class="center">
{% for template in templates%}

    <ul>
      <li>
          <a class="thumbnail" href="{{url_for('templatePage',TemplateName=template)}}">
          <img src="static/image/{{template}}.jpeg" height="130" width="130">
          </a>
      </li>
        <li>
            <a id="TempText">{{template}}</a>
        </li>
  </ul>
{%endfor%}
</div>



</body>
</html>